.about{
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: black;
}

.about .content{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image{
    height: auto;
    width: 400px;
}

.text{
    width: 540px;
}

.text h2{
    color: wheat;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 10px;
}

.year{
    color: antiquewhite;
}

.text h4{
    color: wheat;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}


.text p{
    color: wheat;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}